
<h1>Your shipping cost for the below:</h1>
<h3>Height: <strong><%= @height %></strong></h3>
<h3>Length: <strong><%= @length %></strong></h3>
<h3>Width: <strong><%= @width %></strong></h3>
<h3>Weight: <strong><%= @weight %></strong></h3>
<h3>Distance: <strong><%= @distance %></strong></h3>
<h3>Speed: <strong><%= @speed %></strong></h3>

<h2>Answer: <%= @output %></h2>
